[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-cloud-texttospeech = "*"
"google.cloud" = "*"
google-cloud-storage = "*"
openai = "*"

[dev-packages]

[requires]
python_version = "3.11"
